### `groupby()`

**groupby()** help us to examine data based on a per category. Pandas create _lazy_ group by object when we call `groupby()` function and wait for aggregate function to be called on this **groupby** object

In [1]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv(filepath_or_buffer='../datasets/mpg.csv')

In [63]:
df_copy = df.copy()

In [64]:
df.shape

(398, 9)

In [65]:
df.sample(6)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
165,20.0,8,262.0,110,3221,13.5,75,1,chevrolet monza 2+2
333,32.7,6,168.0,132,2910,11.4,80,3,datsun 280-zx
134,16.0,6,258.0,110,3632,18.0,74,1,amc matador
246,32.8,4,78.0,52,1985,19.4,78,3,mazda glc deluxe
114,26.0,4,98.0,90,2265,15.5,73,2,fiat 124 sport coupe
243,21.5,3,80.0,110,2720,13.5,77,3,mazda rx-4

In [66]:
# groupby can be applied mostly on categorical columns such as cylinders, model_year, origin
df['cylinders'].unique()

array([8, 4, 6, 3, 5])

In [67]:
# groupby can be applied mostly on categorical columns such as cylinders, model_year, origin
df['cylinders'].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

#### `groupby` based on single column

In [68]:
# applying group by
df.groupby(by='cylinders') # return lazy groupby object that do not perform opearations unleass we ask

In [69]:
df.groupby(by='cylinders').count()

,mpg,displacement,horsepower,weight,acceleration,model_year,origin,name
cylinders,,,,,,,,
3,4,4,4,4,4,4,4,4
4,204,204,204,204,204,204,204,204
5,3,3,3,3,3,3,3,3
6,84,84,84,84,84,84,84,84
8,103,103,103,103,103,103,103,103

In [70]:
df.groupby(by='cylinders').mean(numeric_only=True)

,mpg,displacement,weight,acceleration,model_year,origin
cylinders,,,,,,
3,20.550000,72.500000,2398.500000,13.250000,75.500000,3.000000
4,29.286765,109.796569,2308.127451,16.601471,77.073529,1.985294
5,27.366667,145.000000,3103.333333,18.633333,79.000000,2.000000
6,19.985714,218.142857,3198.226190,16.263095,75.928571,1.190476
8,14.963107,345.009709,4114.718447,12.955340,73.902913,1.000000

In [71]:
df.groupby(by='cylinders').sum(numeric_only=True)

              mpg  displacement  weight  acceleration  model_year  origin
cylinders
3            82.2         290.0    9594          53.0         302      12
4          5974.5       22398.5  470858        3386.7       15723     405
5            82.1         435.0    9310          55.9         237       6
6          1678.8       18324.0  268651        1366.1        6378     100
8          1541.2       35536.0  423816        1334.4        7612     103

In [72]:
df['origin'].value_counts()

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [73]:
df.groupby(by='origin').sum(numeric_only=True)

           mpg  cylinders  displacement  weight  acceleration  model_year
origin
1       5000.8       1556       61229.5  837121        3743.4       18827
2       1952.4        291        7640.0  169631        1175.1        5307
3       2405.6        324        8114.0  175477        1277.6        6118

In [74]:
df.groupby(by='origin').mean(numeric_only=True)['mpg']

origin
1    20.083534
2    27.891429
3    30.450633
Name: mpg, dtype: float64

In [75]:
df.groupby(by='model_year').sum(numeric_only=True)

              mpg  cylinders  displacement  weight  acceleration  origin
model_year
70          513.0        196        8161.0   97811         375.5      38
71          595.0        156        5873.0   83872         424.0      40
72          524.0        163        6114.5   90656         423.5      43
73          684.0        255       10275.0  136761         572.5      55
74          613.0        142        4637.0   77704         437.5      45
75          608.0        168        6166.0   95304         481.5      44
76          733.5        192        6725.0  104677         542.0      50
77          654.5        153        5359.0   83926         432.2      44
78          866.2        193        6401.0  103025         569.0      58
79          727.7        169        5994.0   88605         458.6      37
80          977.2        120        3359.0   70663         491.1      64
81          879.7        134        3924.0   73165         472.9      57
82          983.0        130        3995.0   76060         515.8      51

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [77]:
df['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [82]:
df['horsepower'] = df['horsepower'].replace('?', 0)
df['horsepower'] = df['horsepower'].replace(np.nan, 0)

In [83]:
df = df.astype({'horsepower': int}) # make sure we are assigning to dataframe df and not df['horsepower']

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

In [85]:
# convert displacement to numeric
df['displacement'].unique()

array([307. , 350. , 318. , 304. , 302. , 429. , 454. , 440. , 455. ,
       390. , 383. , 340. , 400. , 113. , 198. , 199. , 200. ,  97. ,
       110. , 107. , 104. , 121. , 360. , 140. ,  98. , 232. , 225. ,
       250. , 351. , 258. , 122. , 116. ,  79. ,  88. ,  71. ,  72. ,
        91. ,  97.5,  70. , 120. ,  96. , 108. , 155. ,  68. , 114. ,
       156. ,  76. ,  83. ,  90. , 231. , 262. , 134. , 119. , 171. ,
       115. , 101. , 305. ,  85. , 130. , 168. , 111. , 260. , 151. ,
       146. ,  80. ,  78. , 105. , 131. , 163. ,  89. , 267. ,  86. ,
       183. , 141. , 173. , 135. ,  81. , 100. , 145. , 112. , 181. ,
       144. ])

In [89]:
df['displacement'] = pd.to_numeric(df['displacement']) # make sure we are assigning to df['displacement'] and not dataframe df

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

#### `grouby` based on multiple columns

In [91]:
df.sample(4)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
241,22.0,6,146.0,97,2815,14.5,77,3,datsun 810
66,17.0,8,304.0,150,3672,11.5,72,1,amc ambassador sst
358,31.6,4,120.0,74,2635,18.3,81,3,mazda 626
117,29.0,4,68.0,49,1867,19.5,73,2,fiat 128

In [92]:
df.groupby(by=['cylinders', 'origin'])

In [94]:
df.groupby(by=['cylinders', 'origin']).sum(numeric_only=True) # returns multi level index

                     mpg  displacement  horsepower  weight  acceleration  \
cylinders origin
3         3         82.2         290.0         397    9594          53.0
4         1       2004.5        8948.5        5586  175476        1189.9
          2       1789.9        6566.0        4777  146791        1053.5
          3       2180.1        6884.0        5215  148591        1143.3
5         2         82.1         435.0         247    9310          55.9
6         1       1455.1       16745.0        7276  237829        1219.1
          2         80.4         639.0         454   13530          65.7
          3        143.3         940.0         695   17292          81.3
8         1       1541.2       35536.0       16305  423816        1334.4

                  model_year
cylinders origin
3         3              302
4         1             5618
          2             4757
          3             5348
5         2              237
6         1             5597
          2              313
          3              468
8         1             7612

In [95]:
# to get the index 
df.groupby(by=['cylinders', 'origin']).sum(numeric_only=True).index

MultiIndex([(3, 3),
            (4, 1),
            (4, 2),
            (4, 3),
            (5, 2),
            (6, 1),
            (6, 2),
            (6, 3),
            (8, 1)],
           names=['cylinders', 'origin'])

In [103]:
# we can use this index to grab data
df.groupby(by=['cylinders', 'origin']).sum(numeric_only=True).loc[4]

           mpg  displacement  horsepower  weight  acceleration  model_year
origin
1       2004.5        8948.5        5586  175476        1189.9        5618
2       1789.9        6566.0        4777  146791        1053.5        4757
3       2180.1        6884.0        5215  148591        1143.3        5348

In [106]:
df.groupby(by=['cylinders', 'origin']).sum(numeric_only=True).loc[4,2]

mpg               1789.9
displacement      6566.0
horsepower        4777.0
weight          146791.0
acceleration      1053.5
model_year        4757.0
Name: (4, 2), dtype: float64

In [96]:
df.groupby(by=['cylinders', 'origin']).sum(numeric_only=True).transpose()

cylinders          3         4                           5         6           \
origin             3         1         2         3       2         1        2
mpg             82.2    2004.5    1789.9    2180.1    82.1    1455.1     80.4
displacement   290.0    8948.5    6566.0    6884.0   435.0   16745.0    639.0
horsepower     397.0    5586.0    4777.0    5215.0   247.0    7276.0    454.0
weight        9594.0  175476.0  146791.0  148591.0  9310.0  237829.0  13530.0
acceleration    53.0    1189.9    1053.5    1143.3    55.9    1219.1     65.7
model_year     302.0    5618.0    4757.0    5348.0   237.0    5597.0    313.0

cylinders                     8
origin              3         1
mpg             143.3    1541.2
displacement    940.0   35536.0
horsepower      695.0   16305.0
weight        17292.0  423816.0
acceleration     81.3    1334.4
model_year      468.0    7612.0

In [100]:
df.groupby(by=['cylinders', 'origin']).describe().transpose()

cylinders                     3            4                            \
origin                        3            1            2            3
mpg          count     4.000000    72.000000    63.000000    69.000000
             mean     20.550000    27.840278    28.411111    31.595652
             std       2.564501     4.549560     6.442503     5.435787
             min      18.000000    19.000000    18.000000    20.000000
             25%      18.750000    24.875000    24.000000    27.500000
             50%      20.250000    27.000000    27.000000    32.000000
             75%      22.050000    30.600000    30.750000    35.000000
             max      23.700000    39.000000    44.300000    46.600000
displacement count     4.000000    72.000000    63.000000    69.000000
             mean     72.500000   124.284722   104.222222    99.768116
             std       5.000000    21.690984    16.576747    16.929912
             min      70.000000    85.000000    68.000000    71.000000
             25%      70.000000   103.250000    90.000000    86.000000
             50%      70.000000   122.000000    98.000000    97.000000
             75%      72.500000   140.000000   120.000000   113.000000
             max      80.000000   156.000000   146.000000   144.000000
horsepower   count     4.000000    72.000000    63.000000    69.000000
             mean     99.250000    77.583333    75.825397    75.579710
             std       8.301606    19.282006    22.644190    13.982558
             min      90.000000     0.000000     0.000000    52.000000
             25%      95.250000    71.500000    68.000000    65.000000
             50%      98.500000    83.500000    76.000000    70.000000
             75%     102.500000    88.000000    88.000000    90.000000
             max     110.000000   105.000000   115.000000   100.000000
weight       count     4.000000    72.000000    63.000000    69.000000
             mean   2398.500000  2437.166667  2330.015873  2153.492754
             std     247.566153   301.490803   409.036298   264.306786
             min    2124.000000  1800.000000  1825.000000  1613.000000
             25%    2278.500000  2164.000000  1995.000000  1975.000000
             50%    2375.000000  2408.000000  2219.000000  2130.000000
             75%    2495.000000  2670.000000  2591.000000  2300.000000
             max    2720.000000  3035.000000  3270.000000  2711.000000
acceleration count     4.000000    72.000000    63.000000    69.000000
             mean     13.250000    16.526389    16.722222    16.569565
             std       0.500000     2.222104     3.109011     1.718182
             min      12.500000    11.600000    12.200000    13.500000
             25%      13.250000    14.900000    14.500000    15.000000
             50%      13.500000    16.300000    15.500000    16.500000
             75%      13.500000    18.000000    18.300000    17.900000
             max      13.500000    22.200000    24.800000    21.000000
model_year   count     4.000000    72.000000    63.000000    69.000000
             mean     75.500000    78.027778    75.507937    77.507246
             std       3.696846     3.642365     3.491340     3.696673
             min      72.000000    71.000000    70.000000    70.000000
             25%      72.750000    76.000000    73.000000    74.000000
             50%      75.000000    79.000000    75.000000    78.000000
             75%      77.750000    81.000000    78.500000    81.000000
             max      80.000000    82.000000    82.000000    82.000000

cylinders                     5            6                            \
origin                        2            1            2            3
mpg          count     3.000000    74.000000     4.000000     6.000000
             mean     27.366667    19.663514    20.100000    23.883333
             std       8.228204     3.374992     7.074367     4.951936
             min      20.300000    15.000000    16.200000    19.000000
             25%      22.850000    18.000000    16.425000    20.500000
             50%      25.400000    19.000000    16.750000    23.100000
             75%      30.900000    20.950000    20.425000    25.100000
             max      36.400000    38.000000    30.700000    32.700000
displacement count     3.000000    74.000000     4.000000     6.000000
             mean    145.000000   226.283784   159.750000   156.666667
             std      33.286634    24.702903    10.111874     9.852242
             min     121.000000   155.000000   145.000000   146.000000
             25%     126.000000   206.250000   158.500000   148.500000
             50%     131.000000   231.000000   163.000000   156.000000
             75%     157.000000   250.000000   164.250000   165.000000
             max     183.000000   262.000000   168.000000   168.000000
horsepower   count     3.000000    74.000000     4.000000     6.000000
             mean     82.333333    98.324324   113.500000   115.833333
             std      18.583146    17.299226    25.566906    12.106472
             min      67.000000     0.000000    76.000000    97.000000
             25%      72.000000    90.000000   109.000000   110.000000
             50%      77.000000   100.000000   122.500000   118.000000
             75%      90.000000   106.500000   127.000000   121.500000
             max     103.000000   165.000000   133.000000   132.000000
weight       count     3.000000    74.000000     4.000000     6.000000
             mean   3103.333333  3213.905405  3382.500000  2882.000000
             std     374.343870   332.995379   316.478014    56.267220
             min    2830.000000  2472.000000  3140.000000  2807.000000
             25%    2890.000000  2969.750000  3155.000000  2836.250000
             50%    2950.000000  3239.000000  3285.000000  2905.000000
             75%    3240.000000  3437.250000  3512.500000  2925.000000
             max    3530.000000  3907.000000  3820.000000  2930.000000
acceleration count     3.000000    74.000000     4.000000     6.000000
             mean     18.633333    16.474324    16.425000    13.550000
             std       2.369247     1.896866     2.485122     1.434922
             min      15.900000    11.300000    13.600000    11.400000
             25%      17.900000    15.500000    15.250000    12.825000
             50%      19.900000    16.450000    16.250000    13.650000
             75%      20.000000    17.675000    17.425000    14.325000
             max      20.100000    21.000000    19.600000    15.500000
model_year   count     3.000000    74.000000     4.000000     6.000000
             mean     79.000000    75.635135    78.250000    78.000000
             std       1.000000     3.224794     2.061553     3.224903
             min      78.000000    70.000000    76.000000    73.000000
             25%      78.500000    73.250000    77.500000    76.250000
             50%      79.000000    75.000000    78.000000    78.500000
             75%      79.500000    78.000000    78.750000    80.750000
             max      80.000000    82.000000    81.000000    81.000000

cylinders                     8
origin                        1
mpg          count   103.000000
             mean     14.963107
             std       2.836284
             min       9.000000
             25%      13.000000
             50%      14.000000
             75%      16.000000
             max      26.600000
displacement count   103.000000
             mean    345.009709
             std      46.776376
             min     260.000000
             25%     305.000000
             50%     350.000000
             75%     360.000000
             max     455.000000
horsepower   count   103.000000
             mean    158.300971
             std      28.453552
             min      90.000000
             25%     140.000000
             50%     150.000000
             75%     175.000000
             max     230.000000
weight       count   103.000000
             mean   4114.718447
             std     448.833159
             min    3086.000000
             25%    3799.000000
             50%    4140.000000
             75%    4403.500000
             max    5140.000000
acceleration count   103.000000
             mean     12.955340
             std       2.224759
             min       8.000000
             25%      11.500000
             50%      13.000000
             75%      14.000000
             max      22.200000
model_year   count   103.000000
             mean     73.902913
             std       3.021214
             min      70.000000
             25%      72.000000
             50%      73.000000
             75%      76.000000
             max      81.000000

#### `groupby` based on multilevel index

In [108]:
df.sample(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
68,13.0,8,350.0,155,4502,13.5,72,1,buick lesabre custom
92,13.0,8,351.0,158,4363,13.0,73,1,ford ltd
152,19.0,6,225.0,95,3264,16.0,75,1,plymouth valiant custom

In [109]:
df.groupby(by=['cylinders', 'model_year'])

In [111]:
df.groupby(by=['cylinders', 'model_year']).sum(numeric_only=True)

                        mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
3         72           19.0          70.0          97    2330          13.5
          73           18.0          70.0          90    2124          13.5
          77           21.5          80.0         110    2720          13.5
          80           23.7          70.0         100    2420          12.5
4         70          177.0         749.0         614   16048         112.0
          71          357.0        1324.0         931   26733         220.5
          72          328.0        1561.5        1192   33357         241.0
          73          250.0        1202.0         912   25719         188.5
          74          417.0        1448.0        1110   32272         246.0
          75          303.0        1378.0        1019   29871         190.0
          76          401.5        1595.0        1134   34599         253.0
          77          407.5        1491.0        1103   30871         224.9
          78          502.8        1906.0        1355   39045         276.8
          79          378.3        1363.0         909   28291         191.9
          80          865.3        2775.0        1703   59002         428.6
          81          689.1        2286.0        1459   47785         345.8
          82          898.0        3320.0        2137   67265         467.7
5         78           20.3         131.0         103    2830          15.9
          79           25.4         183.0          77    3530          20.1
          80           36.4         121.0          67    2950          19.9
6         70           82.0         796.0         367   10842          62.0
          71          144.0        1947.0         791   25375         118.0
          73          152.0        1698.0         817   23337         125.5
          74          125.0        1613.0         610   23240         118.0
          75          211.0        2805.0        1161   40780         212.5
          76          200.0        2214.0         987   33496         170.0
          77           97.5        1102.0         510   16915          84.5
          78          228.8        2559.0        1318   39770         196.7
          79          137.7        1234.0         630   18155          92.6
          80           51.8         393.0         222    6291          30.1
          81          164.0        1288.0         705   21655         108.1
          82           85.0         675.0         307    8795          48.1
8         70          254.0        6616.0        3306   70921         201.5
          71           94.0        2602.0        1168   31764          85.5
          72          177.0        4483.0        2076   54969         169.0
          73          264.0        7305.0        3400   85581         245.0
          74           71.0        1576.0         730   22192          73.5
          75           94.0        1983.0         852   24653          79.0
          76          132.0        2916.0        1317   36582         119.0
          77          128.0        2686.0        1219   33420         109.3
          78          114.3        1805.0         813   21380          79.6
          79          186.3        3214.0        1319   38629         154.0
          81           26.6         350.0         105    3725          19.0

                      origin
cylinders model_year
3         72               3
          73               3
          77               3
          80               3
4         70              16
          71              25
          72              27
          73              22
          74              33
          75              26
          76              28
          77              26
          78              36
          79              19
          80              55
          81              44
          82              48
5         78               2
          79               2
          80               2
6         70               4
          71               8
          73              10
          74               7
          75              12
          76              13
          77               7
          78              14
          79               6
          80               4
          81              12
          82               3
8         70              18
          71               7
          72              13
          73              20
          74               5
          75               6
          76               9
          77               8
          78               6
          79              10
          81               1

In [112]:
df.groupby(by=['cylinders', 'model_year']).sum(numeric_only=True).index

MultiIndex([(3, 72),
            (3, 73),
            (3, 77),
            (3, 80),
            (4, 70),
            (4, 71),
            (4, 72),
            (4, 73),
            (4, 74),
            (4, 75),
            (4, 76),
            (4, 77),
            (4, 78),
            (4, 79),
            (4, 80),
            (4, 81),
            (4, 82),
            (5, 78),
            (5, 79),
            (5, 80),
            (6, 70),
            (6, 71),
            (6, 73),
            (6, 74),
            (6, 75),
            (6, 76),
            (6, 77),
            (6, 78),
            (6, 79),
            (6, 80),
            (6, 81),
            (6, 82),
            (8, 70),
            (8, 71),
            (8, 72),
            (8, 73),
            (8, 74),
            (8, 75),
            (8, 76),
            (8, 77),
            (8, 78),
            (8, 79),
            (8, 81)],
           names=['cylinders', 'model_year'])

In [114]:
df.groupby(by=['cylinders', 'model_year']).sum(numeric_only=True).loc[6,82]

mpg               85.0
displacement     675.0
horsepower       307.0
weight          8795.0
acceleration      48.1
origin             3.0
Name: (6, 82), dtype: float64

In [115]:
year_cyl = df.groupby(by=['cylinders', 'model_year']).sum(numeric_only=True)

In [116]:
year_cyl

                        mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
3         72           19.0          70.0          97    2330          13.5
          73           18.0          70.0          90    2124          13.5
          77           21.5          80.0         110    2720          13.5
          80           23.7          70.0         100    2420          12.5
4         70          177.0         749.0         614   16048         112.0
          71          357.0        1324.0         931   26733         220.5
          72          328.0        1561.5        1192   33357         241.0
          73          250.0        1202.0         912   25719         188.5
          74          417.0        1448.0        1110   32272         246.0
          75          303.0        1378.0        1019   29871         190.0
          76          401.5        1595.0        1134   34599         253.0
          77          407.5        1491.0        1103   30871         224.9
          78          502.8        1906.0        1355   39045         276.8
          79          378.3        1363.0         909   28291         191.9
          80          865.3        2775.0        1703   59002         428.6
          81          689.1        2286.0        1459   47785         345.8
          82          898.0        3320.0        2137   67265         467.7
5         78           20.3         131.0         103    2830          15.9
          79           25.4         183.0          77    3530          20.1
          80           36.4         121.0          67    2950          19.9
6         70           82.0         796.0         367   10842          62.0
          71          144.0        1947.0         791   25375         118.0
          73          152.0        1698.0         817   23337         125.5
          74          125.0        1613.0         610   23240         118.0
          75          211.0        2805.0        1161   40780         212.5
          76          200.0        2214.0         987   33496         170.0
          77           97.5        1102.0         510   16915          84.5
          78          228.8        2559.0        1318   39770         196.7
          79          137.7        1234.0         630   18155          92.6
          80           51.8         393.0         222    6291          30.1
          81          164.0        1288.0         705   21655         108.1
          82           85.0         675.0         307    8795          48.1
8         70          254.0        6616.0        3306   70921         201.5
          71           94.0        2602.0        1168   31764          85.5
          72          177.0        4483.0        2076   54969         169.0
          73          264.0        7305.0        3400   85581         245.0
          74           71.0        1576.0         730   22192          73.5
          75           94.0        1983.0         852   24653          79.0
          76          132.0        2916.0        1317   36582         119.0
          77          128.0        2686.0        1219   33420         109.3
          78          114.3        1805.0         813   21380          79.6
          79          186.3        3214.0        1319   38629         154.0
          81           26.6         350.0         105    3725          19.0

                      origin
cylinders model_year
3         72               3
          73               3
          77               3
          80               3
4         70              16
          71              25
          72              27
          73              22
          74              33
          75              26
          76              28
          77              26
          78              36
          79              19
          80              55
          81              44
          82              48
5         78               2
          79               2
          80               2
6         70               4
          71               8
          73              10
          74               7
          75              12
          76              13
          77               7
          78              14
          79               6
          80               4
          81              12
          82               3
8         70              18
          71               7
          72              13
          73              20
          74               5
          75               6
          76               9
          77               8
          78               6
          79              10
          81               1

In [121]:
# we can also use xs() - cross section to get the multilevel index
year_cyl.xs(key=3)

             mpg  displacement  horsepower  weight  acceleration  origin
model_year
72          19.0          70.0          97    2330          13.5       3
73          18.0          70.0          90    2124          13.5       3
77          21.5          80.0         110    2720          13.5       3
80          23.7          70.0         100    2420          12.5       3

In [123]:
year_cyl.xs(key=3)

             mpg  displacement  horsepower  weight  acceleration  origin
model_year
72          19.0          70.0          97    2330          13.5       3
73          18.0          70.0          90    2124          13.5       3
77          21.5          80.0         110    2720          13.5       3
80          23.7          70.0         100    2420          12.5       3

In [128]:
year_cyl.loc[[4,3]]

                        mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
4         70          177.0         749.0         614   16048         112.0
          71          357.0        1324.0         931   26733         220.5
          72          328.0        1561.5        1192   33357         241.0
          73          250.0        1202.0         912   25719         188.5
          74          417.0        1448.0        1110   32272         246.0
          75          303.0        1378.0        1019   29871         190.0
          76          401.5        1595.0        1134   34599         253.0
          77          407.5        1491.0        1103   30871         224.9
          78          502.8        1906.0        1355   39045         276.8
          79          378.3        1363.0         909   28291         191.9
          80          865.3        2775.0        1703   59002         428.6
          81          689.1        2286.0        1459   47785         345.8
          82          898.0        3320.0        2137   67265         467.7
3         72           19.0          70.0          97    2330          13.5
          73           18.0          70.0          90    2124          13.5
          77           21.5          80.0         110    2720          13.5
          80           23.7          70.0         100    2420          12.5

                      origin
cylinders model_year
4         70              16
          71              25
          72              27
          73              22
          74              33
          75              26
          76              28
          77              26
          78              36
          79              19
          80              55
          81              44
          82              48
3         72               3
          73               3
          77               3
          80               3

In [132]:
year_cyl.loc[4,70]

mpg               177.0
displacement      749.0
horsepower        614.0
weight          16048.0
acceleration      112.0
origin             16.0
Name: (4, 70), dtype: float64

In [135]:
df[df['cylinders'].isin([3,4])]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [140]:
cyl_three_four = df[df['cylinders'].isin([3,4])].groupby(by=['cylinders', 'model_year']).sum(numeric_only=True)

In [143]:
# using loc[] we can access 
cyl_three_four.loc[3,72]

mpg               19.0
displacement      70.0
horsepower        97.0
weight          2330.0
acceleration      13.5
origin             3.0
Name: (3, 72), dtype: float64

In [145]:
# we can do the above using swaplevel()
year_cyl.swaplevel()

,,mpg,displacement,horsepower,weight,acceleration,origin
model_year,cylinders,,,,,,
72,3,19.0,70.0,97,2330,13.5,3
73,3,18.0,70.0,90,2124,13.5,3
77,3,21.5,80.0,110,2720,13.5,3
80,3,23.7,70.0,100,2420,12.5,3
70,4,177.0,749.0,614,16048,112.0,16
71,4,357.0,1324.0,931,26733,220.5,25
72,4,328.0,1561.5,1192,33357,241.0,27
73,4,250.0,1202.0,912,25719,188.5,22
74,4,417.0,1448.0,1110,32272,246.0,33
75,4,303.0,1378.0,1019,29871,190.0,26
76,4,401.5,1595.0,1134,34599,253.0,28
77,4,407.5,1491.0,1103,30871,224.9,26
78,4,502.8,1906.0,1355,39045,276.8,36
79,4,378.3,1363.0,909,28291,191.9,19
80,4,865.3,2775.0,1703,59002,428.6,55
81,4,689.1,2286.0,1459,47785,345.8,44
82,4,898.0,3320.0,2137,67265,467.7,48
78,5,20.3,131.0,103,2830,15.9,2
79,5,25.4,183.0,77,3530,20.1,2
80,5,36.4,121.0,67,2950,19.9,2
70,6,82.0,796.0,367,10842,62.0,4
71,6,144.0,1947.0,791,25375,118.0,8
73,6,152.0,1698.0,817,23337,125.5,10
74,6,125.0,1613.0,610,23240,118.0,7
75,6,211.0,2805.0,1161,40780,212.5,12
76,6,200.0,2214.0,987,33496,170.0,13
77,6,97.5,1102.0,510,16915,84.5,7
78,6,228.8,2559.0,1318,39770,196.7,14
79,6,137.7,1234.0,630,18155,92.6,6
80,6,51.8,393.0,222,6291,30.1,4
81,6,164.0,1288.0,705,21655,108.1,12
82,6,85.0,675.0,307,8795,48.1,3
70,8,254.0,6616.0,3306,70921,201.5,18
71,8,94.0,2602.0,1168,31764,85.5,7
72,8,177.0,4483.0,2076,54969,169.0,13
73,8,264.0,7305.0,3400,85581,245.0,20
74,8,71.0,1576.0,730,22192,73.5,5
75,8,94.0,1983.0,852,24653,79.0,6
76,8,132.0,2916.0,1317,36582,119.0,9
77,8,128.0,2686.0,1219,33420,109.3,8
78,8,114.3,1805.0,813,21380,79.6,6
79,8,186.3,3214.0,1319,38629,154.0,10
81,8,26.6,350.0,105,3725,19.0,1

In [147]:
year_cyl.swaplevel().loc[72,3]

mpg               19.0
displacement      70.0
horsepower        97.0
weight          2330.0
acceleration      13.5
origin             3.0
Name: (72, 3), dtype: float64

In [150]:
year_cyl.sort_index(level='cylinders', ascending=False)

                        mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
8         81           26.6         350.0         105    3725          19.0
          79          186.3        3214.0        1319   38629         154.0
          78          114.3        1805.0         813   21380          79.6
          77          128.0        2686.0        1219   33420         109.3
          76          132.0        2916.0        1317   36582         119.0
          75           94.0        1983.0         852   24653          79.0
          74           71.0        1576.0         730   22192          73.5
          73          264.0        7305.0        3400   85581         245.0
          72          177.0        4483.0        2076   54969         169.0
          71           94.0        2602.0        1168   31764          85.5
          70          254.0        6616.0        3306   70921         201.5
6         82           85.0         675.0         307    8795          48.1
          81          164.0        1288.0         705   21655         108.1
          80           51.8         393.0         222    6291          30.1
          79          137.7        1234.0         630   18155          92.6
          78          228.8        2559.0        1318   39770         196.7
          77           97.5        1102.0         510   16915          84.5
          76          200.0        2214.0         987   33496         170.0
          75          211.0        2805.0        1161   40780         212.5
          74          125.0        1613.0         610   23240         118.0
          73          152.0        1698.0         817   23337         125.5
          71          144.0        1947.0         791   25375         118.0
          70           82.0         796.0         367   10842          62.0
5         80           36.4         121.0          67    2950          19.9
          79           25.4         183.0          77    3530          20.1
          78           20.3         131.0         103    2830          15.9
4         82          898.0        3320.0        2137   67265         467.7
          81          689.1        2286.0        1459   47785         345.8
          80          865.3        2775.0        1703   59002         428.6
          79          378.3        1363.0         909   28291         191.9
          78          502.8        1906.0        1355   39045         276.8
          77          407.5        1491.0        1103   30871         224.9
          76          401.5        1595.0        1134   34599         253.0
          75          303.0        1378.0        1019   29871         190.0
          74          417.0        1448.0        1110   32272         246.0
          73          250.0        1202.0         912   25719         188.5
          72          328.0        1561.5        1192   33357         241.0
          71          357.0        1324.0         931   26733         220.5
          70          177.0         749.0         614   16048         112.0
3         80           23.7          70.0         100    2420          12.5
          77           21.5          80.0         110    2720          13.5
          73           18.0          70.0          90    2124          13.5
          72           19.0          70.0          97    2330          13.5

                      origin
cylinders model_year
8         81               1
          79              10
          78               6
          77               8
          76               9
          75               6
          74               5
          73              20
          72              13
          71               7
          70              18
6         82               3
          81              12
          80               4
          79               6
          78              14
          77               7
          76              13
          75              12
          74               7
          73              10
          71               8
          70               4
5         80               2
          79               2
          78               2
4         82              48
          81              44
          80              55
          79              19
          78              36
          77              26
          76              28
          75              26
          74              33
          73              22
          72              27
          71              25
          70              16
3         80               3
          77               3
          73               3
          72               3

In [151]:
year_cyl.sort_index(level=['cylinders', 'model_year'], ascending=False)

                        mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
8         81           26.6         350.0         105    3725          19.0
          79          186.3        3214.0        1319   38629         154.0
          78          114.3        1805.0         813   21380          79.6
          77          128.0        2686.0        1219   33420         109.3
          76          132.0        2916.0        1317   36582         119.0
          75           94.0        1983.0         852   24653          79.0
          74           71.0        1576.0         730   22192          73.5
          73          264.0        7305.0        3400   85581         245.0
          72          177.0        4483.0        2076   54969         169.0
          71           94.0        2602.0        1168   31764          85.5
          70          254.0        6616.0        3306   70921         201.5
6         82           85.0         675.0         307    8795          48.1
          81          164.0        1288.0         705   21655         108.1
          80           51.8         393.0         222    6291          30.1
          79          137.7        1234.0         630   18155          92.6
          78          228.8        2559.0        1318   39770         196.7
          77           97.5        1102.0         510   16915          84.5
          76          200.0        2214.0         987   33496         170.0
          75          211.0        2805.0        1161   40780         212.5
          74          125.0        1613.0         610   23240         118.0
          73          152.0        1698.0         817   23337         125.5
          71          144.0        1947.0         791   25375         118.0
          70           82.0         796.0         367   10842          62.0
5         80           36.4         121.0          67    2950          19.9
          79           25.4         183.0          77    3530          20.1
          78           20.3         131.0         103    2830          15.9
4         82          898.0        3320.0        2137   67265         467.7
          81          689.1        2286.0        1459   47785         345.8
          80          865.3        2775.0        1703   59002         428.6
          79          378.3        1363.0         909   28291         191.9
          78          502.8        1906.0        1355   39045         276.8
          77          407.5        1491.0        1103   30871         224.9
          76          401.5        1595.0        1134   34599         253.0
          75          303.0        1378.0        1019   29871         190.0
          74          417.0        1448.0        1110   32272         246.0
          73          250.0        1202.0         912   25719         188.5
          72          328.0        1561.5        1192   33357         241.0
          71          357.0        1324.0         931   26733         220.5
          70          177.0         749.0         614   16048         112.0
3         80           23.7          70.0         100    2420          12.5
          77           21.5          80.0         110    2720          13.5
          73           18.0          70.0          90    2124          13.5
          72           19.0          70.0          97    2330          13.5

                      origin
cylinders model_year
8         81               1
          79              10
          78               6
          77               8
          76               9
          75               6
          74               5
          73              20
          72              13
          71               7
          70              18
6         82               3
          81              12
          80               4
          79               6
          78              14
          77               7
          76              13
          75              12
          74               7
          73              10
          71               8
          70               4
5         80               2
          79               2
          78               2
4         82              48
          81              44
          80              55
          79              19
          78              36
          77              26
          76              28
          75              26
          74              33
          73              22
          72              27
          71              25
          70              16
3         80               3
          77               3
          73               3
          72               3

In [152]:
year_cyl.sort_index(level=['cylinders', 'model_year'], ascending=[False, True])

                        mpg  displacement  horsepower  weight  acceleration  \
cylinders model_year
8         70          254.0        6616.0        3306   70921         201.5
          71           94.0        2602.0        1168   31764          85.5
          72          177.0        4483.0        2076   54969         169.0
          73          264.0        7305.0        3400   85581         245.0
          74           71.0        1576.0         730   22192          73.5
          75           94.0        1983.0         852   24653          79.0
          76          132.0        2916.0        1317   36582         119.0
          77          128.0        2686.0        1219   33420         109.3
          78          114.3        1805.0         813   21380          79.6
          79          186.3        3214.0        1319   38629         154.0
          81           26.6         350.0         105    3725          19.0
6         70           82.0         796.0         367   10842          62.0
          71          144.0        1947.0         791   25375         118.0
          73          152.0        1698.0         817   23337         125.5
          74          125.0        1613.0         610   23240         118.0
          75          211.0        2805.0        1161   40780         212.5
          76          200.0        2214.0         987   33496         170.0
          77           97.5        1102.0         510   16915          84.5
          78          228.8        2559.0        1318   39770         196.7
          79          137.7        1234.0         630   18155          92.6
          80           51.8         393.0         222    6291          30.1
          81          164.0        1288.0         705   21655         108.1
          82           85.0         675.0         307    8795          48.1
5         78           20.3         131.0         103    2830          15.9
          79           25.4         183.0          77    3530          20.1
          80           36.4         121.0          67    2950          19.9
4         70          177.0         749.0         614   16048         112.0
          71          357.0        1324.0         931   26733         220.5
          72          328.0        1561.5        1192   33357         241.0
          73          250.0        1202.0         912   25719         188.5
          74          417.0        1448.0        1110   32272         246.0
          75          303.0        1378.0        1019   29871         190.0
          76          401.5        1595.0        1134   34599         253.0
          77          407.5        1491.0        1103   30871         224.9
          78          502.8        1906.0        1355   39045         276.8
          79          378.3        1363.0         909   28291         191.9
          80          865.3        2775.0        1703   59002         428.6
          81          689.1        2286.0        1459   47785         345.8
          82          898.0        3320.0        2137   67265         467.7
3         72           19.0          70.0          97    2330          13.5
          73           18.0          70.0          90    2124          13.5
          77           21.5          80.0         110    2720          13.5
          80           23.7          70.0         100    2420          12.5

                      origin
cylinders model_year
8         70              18
          71               7
          72              13
          73              20
          74               5
          75               6
          76               9
          77               8
          78               6
          79              10
          81               1
6         70               4
          71               8
          73              10
          74               7
          75              12
          76              13
          77               7
          78              14
          79               6
          80               4
          81              12
          82               3
5         78               2
          79               2
          80               2
4         70              16
          71              25
          72              27
          73              22
          74              33
          75              26
          76              28
          77              26
          78              36
          79              19
          80              55
          81              44
          82              48
3         72               3
          73               3
          77               3
          80               3

#### Applying different aggregate function on different columns using `agg()`

In [157]:
df.drop('name', axis=1).agg(func=['mean', 'std'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
mean,23.514573,5.454774,193.425879,102.894472,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,40.269544,846.841774,2.757689,3.697627,0.802055

In [159]:
df.agg({'cylinders': 'mean', 'horsepower':'max'})

cylinders       5.454774
horsepower    230.000000
dtype: float64

In [160]:
df.agg({'cylinders': ['mean', 'max'], 'horsepower':'max'})

      cylinders  horsepower
mean   5.454774         NaN
max    8.000000       230.0